# ----------------------------------------------------
# File 1: requirements.txt
# Add "Flask-Cors" to this file.
# ----------------------------------------------------
Flask
requests
gunicorn
Flask-Cors

